3rdParty/RgssDecrypter/RgssDecrypter.Lib.pdb
3rdParty/RgssDecrypter/RgssDecrypter.pdb
3rdParty/RgssDecrypter/.vs
/RPG-Maker-Autotranslate-GUI/RPG-Maker-Autotranslate-GUI/bin
/RPG-Maker-Autotranslate-GUI/RPG-Maker-Autotranslate-GUI/obj
/output
/RPG-Maker-Autotranslate-GUI/.vs/RPGMakerTranslator/v14/.suo
/.vs/RPGTranslator/v14/.suo
